<a href="https://colab.research.google.com/github/madhavimali/SQL_SQLZoo_HackerRank_Practice_Questions_with_Solutions/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:

The year can be evenly divided by 100, it is NOT a leap year, unless:

The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

In [10]:
def is_leap(year):
    leap = False
    if year%400==0:
      True
    elif year%100!=0 and year%4==0:
      print(True)
    else:
      return leap
year = int(input())
print(is_leap(year))

4400
True
None

In [7]:
def is_leap(year):
    
    if year%400==0:
      print(f'{year} is leap year.')
    elif year%100!=0 and year%4==0:
      print(f'{year} is leap year.')
    else:
      print(f'{year} is not leap year.')
    return 
print(is_leap(2022))

2022 is not leap year.
None

In [8]:
year = int(input('year: '))
if year%400==0:
  print(f'{year} is leap year.')
elif year%100!=0 and year%4==0:
  print(f'{year} is leap year.')
else:
  print(f'{year} is not leap year.')

year: 1990
1990 is not leap year.

The provided code stub reads and integer, n , from STDIN. For all non-negative integers i<n , print i^2 .

In [ ]:
n = int(input())
for i in range(0,n):
  print(i**2)

4
0
1
4
9

The provided code stub reads two integers, a and b, from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  a//b . 

The second line should contain the result of float division,  a/b .

No rounding or formatting is necessary.

In [ ]:
a = int(input())
b = int(input())
print(a//b)
print(a/b)

3
5
0
0.6

The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:

The first line contains the sum of the two numbers.

The second line contains the difference of the two numbers (first - second).

The third line contains the product of the two numbers.

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

3
5
8
-2
15

Given an integer, , perform the following conditional actions:

If n is odd, print Weird

If n is even and in the inclusive range of 2 to 5, print Not Weird

If n is even and in the inclusive range of 6 to 20, print Weird

If n is even and greater than 20, print Not Weird

In [ ]:
n = int(input('Number: '))
if n % 2!= 0:
  print('Weird')
elif n%2 == 0:
  if n>=2 and n<=5:
    print('Not Weird')
  elif n>=6 and n<=20:
    print('Weird')
  else:
    print('Not Weird')

Number: 3
Weird

write a program to get input string from user if string is 'hELlo' --> 'HelLO'

In [ ]:
from IPython.core.inputtransformer2 import ESCAPE_DOUBLES
string_ = input('String is given: ')
empty_str = ''
for i in string_:
  if i == i.upper():
    #print(empty_str + i.lower())
    print("".join([empty_str, i.lower()]))
  else: 
    #print(empty_str + i.upper())
    print("".join([empty_str, i.upper()]))
empty_str

String is given: Madh
m
A
D
H

''

Consider 1,2,4,8

In [ ]:
{1,2,3,4}
{2,4,5}
{1,3}

In [ ]:
sum([1,2,3,4])

10

Consider a series  1+ 2+ 3+ 4+ 5 +..., ge the value of n from the userprint addition of the first n natural numbers whithout using loops and by using loops

In [ ]:
# loop
n = int(input('number: '))
sum = 0
for i in range (1, n+1):
  sum = sum +i
print(sum)

number: 4
10

In [ ]:
import pandas as pd
import numpy as np
n = int(input())
a = np.array(range(1,n+1))
b = pd.Series(a)
t = b.sum()
print(t)

4
10

In [11]:
s = [1,2,3.5,4.0]

In [12]:
sum(s)

10.5

In [ ]:
def sum_numbers(numbers):
    if len(numbers) == 0:
      return 0
    return numbers[0] + sum_numbers(numbers[1:])

sum_numbers([1, 2, 3, 4, 5])

15

In [13]:
import numpy as np
a = np.array(range(1,7))
b= sum(a)
b

21

In [14]:
import math

In [ ]:
n = int(input('number: '))
sum = 0
if n>=1:
  sum = sum + (n-1)

Create a program to get value of n from the user and print first n number from the fibonacci series

In [ ]:
0,1,1,2,3,5,8,13,21,34,...

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-2) + fibonacci(n-1)
 
 
if __name__ == "__main__":
    n = 5
    print(fibonacci(n))

12

In [ ]:

def fibonacci(n):
  if n<=1:
    return n
  return fibonacci(n-1)+fibonacci(n-2)


if __name__ == "__main__":
    n = 3
    print(fibonacci(n))

2

In [ ]:
fibonacci(5)

-5

In [ ]:
n  = int(input('number: '))

while n>0:
  if n == 1:
    print(0)
  elif n == 2:
    print(0,1)
  elif n > 2:

SyntaxError: ignored

Find all the Magic Numbers in the interval in Python

In [ ]:
import math

def magic_number(num):
  digitCount = int(math.log10(num))+1
  sumOfDigits = 0

  temp = num #copying num

  #calculating sum of digits of temp(i.e num) until
  #sumOfDigits is a single digit
  while( digitCount > 1):

    sumOfDigits = 0

    while(temp > 0):
      sumOfDigits += temp%10
      temp = temp//10

    temp = sumOfDigits
    #count the digits of sumOfDigits
    digitCount = int(math.log10(sumOfDigits))+1

  #check for sumOfDigits == 1
  if(sumOfDigits == 1):
      print(num)

low = int(input("Enter lower interval value \n"))
up = int(input("Enter upper interval value \n"))

print("Magic numbers between {x} and {y} are".format(x=low,y=up))

for num in range(low,up+1):
    magic_number(num)

Create a program to get integer from the user and check that it is magical or not

In [ ]:
import math

num = int(input("Enter a Number \n"))
digitCount = int(math.log10(num))+1
sumOfDigits = 0

temp = num #copying num

#calculating sum of digits of temp(i.e num) until
#sumOfDigits is a single digit
while( digitCount > 1):

  sumOfDigits = 0

  while(temp > 0):
    sumOfDigits += temp%10
    temp = temp//10

  temp = sumOfDigits
  #count the digits of sumOfDigits
  digitCount = int(math.log10(sumOfDigits))+1
   
    
#check whether sumOfDigits == 1
if(sumOfDigits == 1):
    print("Magic number")
else:
    print("Not a magic number")

Enter a Number
345
Not a magic number

In [ ]:
def magical_num(x):
  sum = 0 
  while x != 0:
    dig = x%10 
    sum = sum + dig
    x = x // 10
    continue
  #print(sum)
  sum1 = 0
  while sum != 0:
    dig = sum%10 
    sum1 = sum1 + dig
    sum = sum // 10
    continue
  print(sum1)

In [ ]:
magical_num(23456782)

10

create a program to get lower and upper values and print the prime number between the lower and upper vlues.

In [ ]:
list_ = []
l = int(input('lower value :'))
u = int(input('upper value: '))

for i in range(l, u+1):
  if i > 1:
    for a in range(2, i):
      if i%a == 0:
         break
    else:
       print(f'{i}')

lower value :2
upper value: 22
2
3
5
7
11
13
17
19
[]

In [ ]:

for a in range(l, u+1):
  def prime_num(a):
    for i in range(2,a):
      if a%i == 0:
        continue
    if a%i == 0:
      print(f'{a} it is not prime number')
    else:
      print(f'{a} is prime number')

lower value:4
upper value: 8

In [ ]:
prime_num(a)

8 is prime number

Create a program to get number is prime or not

In [ ]:
def prime_num(a):
  for i in range(2,a):
    if a%i == 0:
      continue
  if a%i == 0:
    print(f'{a} it is not prime number')
  else:
    print(f'{a} is prime number')

In [ ]:
prime_num(7)

7 is prime number

create program to get integer from user and check in is perfect or not

In [ ]:
6 =1,2,3,6 divisors
1+2+3+6 =12 = 2*6

In [ ]:
#a =int(input('number: '))

def num_is_perfect(a):
  sum = 0
  for i in range(1,a//2+1):
    if a%i == 0:
      sum = sum +i
  if sum == a:
    print(f'{a} is perfect number')
  else:
    print(f'{a} is not perfect number')

In [ ]:
for i in range(1,int(6/2)):
  if 6%i == 0:
    l.append(i)
  l_sum = sum(l)

l_sum

57

In [ ]:
num_is_perfect(6)

6 is perfect number

Create a prgram to get integer from user and print the addition of the integer

In [ ]:
a = int(input('num1:'))
addition = 0
while a != 0:
  dig = a%10
  addition = addition +dig
  a = a//10
print(addition)

num1:345
12

Create a program integer from user using while loop reverse the number.

In [ ]:
a =  int(input('number: '))
rv = 0
while a != 0:
  digit = a%10
  rv = rv*10 + digit
  a = a//10
print(rv)

number: 4
4

create a program to get a string from user and checks that is palindrome or not.

In [ ]:
x = input ('string: ')
if x[::-1] == x[::]:
  print('x is polindrome')
else:
  print('x is not polindome')

string: 2332
x is polindrome

Create a program to get year from user and check that is it leap year or not

In [ ]:
num = int(input('year:'))
if num%400==0:
  print('it is leap year')
elif num%4==0 and num%100 != 0:
  print('it is also leap year')
else:
  print('it is not leap year')

year:199654
it is not leap year

Create a program to get two numbers from user print additon substraction, multipication, module and integer division

Create a program to get input from user and check it is string or number. If it is string, then again that it is upper case or lower case.

In [ ]:
def isNumber(x):
    if type(x) == int:
         return True
    else:
         return False
 
 
# Driver Code

x = 'qwe'
 
# Function Call
 
# for input1
if isNumber(x):
    print("Integer")
else:
    print(f"String {x.isupper()}")

String False

In [ ]:

def num(x):
  if type(x) == int:
    return True
  else:
    return False

In [ ]:
num('fr')

False

In [ ]:
a = int(input())
if type(a) != str:
  print('it is number')
else:
  print('it is string')

3
it is string

Python program to check given character is vowel or consonant.

In [ ]:

vowel = ['a', 'e', 'i', 'o', 'u']
a = input('letter: ')
for i in vowel:
  if i == a :
    print(f'{a} is vowel')
    break
else:
  print(f'{a} is consonant')

letter: i
i is vowel

Number is even or not

In [ ]:
a = int(input('Number: '))
if a%2==0:
  print(f'{a} is even')
else:
  print(f'{a} is not even')

Numer: 9
9 is not even

Calculate square of number.

In [ ]:
a = input('Number: ')
sq_num = int(a)*int(a)
print(sq_num)

Number: 4
16

In [ ]:
a = input('Number: ')
sq_num = int(a)**2
print(sq_num)

Number: 9
81

In [ ]:
print("Twinkle, twinkle, little star \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [ ]:
#Python version i am using
import sys    #sys: system-specific
print("Python version:", sys.version)
print("Python version information:", sys.version_info)

Python version: 3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
Python version information: sys.version_info(major=3, minor=7, micro=13, releaselevel='final', serial=0)

In [ ]:
#current date and time
import datetime
a= datetime.datetime.now()
print("present date time:", datetime.datetime.now().strftime("%Y-%M-%D %H:%M:%S"))   #f stand for format
#OR
print(a.strftime("%Y-%M-%D %H:%M:%S"))

present date time: 2022-18-05/24/22 06:18:32
2022-18-05/24/22 06:18:32

In [ ]:
from math import pi
r = float(input("r= "))
Area= str(pi*r*r)
print("Area:", Area)

r= 1.2
Area: 4.523893421169302

In [ ]:
# Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.
first_name= input("fname: ")
last_name= input("lname: ") 
print(last_name + " " + first_name)

fname: Madhavi
lname: Mali
Mali Madhavi

In [ ]:
#Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.
value = input("comma seperated numbers:")
list = value.split(",")
print("List:", list)
tuple = tuple(list)
print(tuple)

comma seperated numbers:2,3,4
List: ['2', '3', '4']

TypeError: ignored

In [ ]:
type(list)

list

In [ ]:
type(tuple)

tuple

In [ ]:
#. Write a Python program to accept a filename from the user and print the extension of that.
filename = input("initial filename:")
f_extend = filename.split(".")
print("the extention of the file name: " + repr(f_extend[-1]))

initial filename:Madhavi.Mali
the extention of the file name: 'Mali'

In [ ]:
#Write a Python program to display the first and last colors from the following list. 
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0])
print(color_list[-1])

Red
Black

In [ ]:
# %s specifically is used to perform concatenation of strings together.
#%s is a placeholder for the to be printed elements
#Python uses the ‘%s’ for formatting strings 

color_list = ["Red","Green","White" ,"Black"]
print("%s %s" % (color_list[0], color_list[-1]))
print("%s is a first color and %s is a last color." % (color_list[0],color_list[-1]))

Red Black
Red is a first color and Black is a last color.

In [ ]:
print(color_list[0], color_list[-1])

Red Black

9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).

In [ ]:
exam_start_date = (3, 6, 2022)
print("the examination start from : %i / %i / %i" %exam_start_date)

the examination start from : 3 / 6 / 2022

**10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.**

In [ ]:
n = input("number: ")
n1 = int("%s" %n)
n2 = int("%s%s" %(n,n))
n3 = int("%s%s%s" %(n,n,n))
sum = n1+n2+n3
print(sum)

number: 3
369

**11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).**

In [ ]:
# prime number program
#num = int(input('num: '))
for num in range (1,90+1):
  if num >1:
    for i in range(2,91):
      if num%i == 0:
        break
    else:
      print(num)

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
# Amstrong number
num = int(input("enter a num: "))
x = num
sum = 0
while x>0:
  y= x%10
  sum += y**2
  x //=10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

enter a num: 32
32 is not an Armstrong number

In [ ]:
len(str(1232))

4

In [ ]:
x = input("str: " )
print(x)

str: kjh
kjh

In [ ]:
y = "qwe"
y[1:3].isupper()

False

In [ ]:
x = input('x=')
if x in range(2,6):
  print("weird")
elif x in range(6,16):
  print("not weird")
else:
  print('out of range')

x=2
out of range

In [ ]:
# leap yr program
yr = int(input("yr = "))
if yr % 4 == 0:
  if yr /100 ==0

In [23]:
x = input('string: ')
y = x[::-1]
if y == x:
  print('y')
else:
  print('n')

string: simple
n

In [ ]:
from google.colab import drive
drive.mount('/content/drive')